# inspired by https://github.com/GitTools/GitVersion/blob/main/.github/workflows/_unit_tests.yml
on:
  workflow_call:
env:
  DOTNET_ROLL_FORWARD: "Major"
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  DOTNET_NOLOGO: 1
  NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages

jobs:
  unit_test:
    name: Unit Tests (${{ matrix.os }})
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      # Enable Corepack _before_ you setup Node
      - run: corepack enable
      - uses: actions/setup-node@v4
        with:
          cache: "yarn"
          check-latest: true
          node-version-file: package.json
      - run: yarn install --immutable --immutable-cache --check-cache
      - run: echo "::warning ::yarn npm audit signatures is unavailable. See https://github.com/yarnpkg/berry/issues/6487"

      - uses: actions/setup-dotnet@v4.3.1
        with:
          dotnet-version: "8.x"
          cache: true
          cache-dependency-path: './GroupBox.Avalonia*/packages.lock.json'

      - run: dotnet test
